<a href="https://colab.research.google.com/github/camilacruz-cs/7DaysOfCode_Alura/blob/main/7DaysOfCode_Python_Pandas_1_7_Importa%C3%A7%C3%A3o_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importanto as bibliotecas necessárias
import glob
import pandas as pd

### Unificar todos os dataframes em um arquivo só

In [2]:
path = r'/content/'

In [54]:
#Temos um arquivo em parquet

import pandas as pd
df = pd.read_parquet('/content/dados_exemplares.parquet')
df.to_csv('dados_exemplares.csv')

In [55]:
filenames = glob.glob(path + "/*.csv")

In [56]:
filenames

['/content/emprestimos-20191.csv',
 '/content/emprestimos-20181.csv',
 '/content/emprestimos-20162.csv',
 '/content/emprestimos-20192.csv',
 '/content/emprestimos-20131.csv',
 '/content/emprestimos-20122.csv',
 '/content/dados_exemplares.csv',
 '/content/emprestimos-20182.csv',
 '/content/emprestimos-20132.csv',
 '/content/emprestimos-20142.csv',
 '/content/emprestimos-20141.csv',
 '/content/emprestimos-20152.csv',
 '/content/emprestimos-20161.csv',
 '/content/emprestimos-20201.csv',
 '/content/emprestimos-20101.csv',
 '/content/emprestimos-20121.csv',
 '/content/emprestimos-20102.csv',
 '/content/emprestimos-20151.csv',
 '/content/emprestimos-20112.csv',
 '/content/emprestimos-20172.csv',
 '/content/emprestimos-20171.csv',
 '/content/emprestimos-20111.csv']

In [57]:
#criando um laço de repetição

dados_emprestimo = []

In [58]:
for dados in filenames:
  dados_emprestimo.append(pd.read_csv(dados))

In [59]:
#concatenar os arquivos

df_full = pd.concat(dados_emprestimo, ignore_index = True)

In [60]:
df_full

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,index,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,2782809.0,L169931,NaN,2019/01/02 08:09:52.211000000,2019/01/25 11:40:31.000000000,2.019101e+10,ALUNO DE PÓS-GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2782810.0,L099542,NaN,2019/01/02 08:09:52.286000000,2019/01/03 18:29:29.000000000,2.019101e+10,ALUNO DE PÓS-GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2782811.0,L199924,NaN,2019/01/02 08:09:52.321000000,2019/01/25 11:40:25.000000000,2.019101e+10,ALUNO DE PÓS-GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2782812.0,2010081229,2019/01/17 06:20:06.044000000,2019/01/02 08:30:25.722000000,2019/01/28 08:22:55.000000000,2.018014e+10,ALUNO DE GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2782813.0,2018022572,2019/01/17 06:20:06.019000000,2019/01/02 08:30:25.758000000,2019/01/28 08:22:42.000000000,2.018014e+10,ALUNO DE GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2804250,1028826.0,L202351,NaN,2011/06/30 21:28:31.517000000,2011/07/15 15:13:25.000000000,2.010028e+09,ALUNO DE GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2804251,1028827.0,2011018916,2011/07/12 16:41:07.283000000,2011/06/30 21:32:29.681000000,2011/07/15 07:04:36.000000000,2.008039e+09,ALUNO DE GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2804252,1028828.0,C022409,NaN,2011/06/30 21:33:21.073000000,2011/07/15 07:21:03.000000000,2.007388e+08,ALUNO DE GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2804253,1028829.0,2010066057,2011/07/12 14:44:39.108000000,2011/06/30 21:52:07.627000000,2011/08/26 21:11:24.000000000,2.006112e+08,ALUNO DE GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2804254,1028830.0,C005472,NaN,2011/06/30 21:57:11.605000000,2011/07/04 20:05:49.000000000,2.011202e+09,ALUNO DE PÓS-GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2804255 entries, 0 to 2804254
Data columns (total 14 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         float64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
 7   index                 float64
 8   id_exemplar           float64
 9   colecao               object
 10  biblioteca            object
 11  status_material       object
 12  localizacao           float64
 13  registro_sistema      float64
dtypes: float64(6), object(8)
memory usage: 299.5+ MB

In [62]:
#Contagem de todos os registros do meu DataFrame
df_full.value_counts()

Series([], dtype: int64)

In [63]:
#Excluindo as possíveis duplicadas no DF
emprestimo_exclusao = df_full.drop_duplicates()

In [64]:
emprestimo_exclusao.value_counts()

Series([], dtype: int64)